/* a custom scrollbar / works only in chrome/safari */

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track { 
    background: orangered;
}
::-webkit-scrollbar-thumb {
    background: darkblue;
}

/* for firefox */
html {
    scrollbar-width: thin;  //  auto - thin - none
    scrollbar-color: orangered darkblue; // thumb color - track color
}