/* a custom scrollbar / works only in chrome/safari */
::-webkit-scrollbar {
    width: 20px;

}
::-webkit-scrollbar-track { 
    background: orangered;

}
::-webkit-scrollbar-thumb {
    background: darkblue;
}