.modal-outer {

    position: fixed; display: none;
    width: 100%; height: 100%; top: 0; left: 0;
    background: rgba(#222, .4); z-index: 1;

    &.active {
       display: block;
       overflow-y: scroll; 
    }

    .modal-inner {

        padding: 4rem; min-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .modal-content {
            width: 600px;
            @media ( max-width: 600px) {
                width: 90%;
            }
            background: white;
        }

    }
}


body.no-scroll {
    overflow: hidden;
}