.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  display: none;
}

.custom-dropdown .select-selected {
  background-color: darkblue;
  color: #ffffff;
  padding: 18px 21px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.custom-dropdown .select-selected:after {
  position: absolute;
  content: "";
  top: 24px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.custom-dropdown .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 16px;
}

.custom-dropdown .select-items {
  position: absolute;
  background-color: orangered;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.custom-dropdown .select-items div {
  background-color: darkblue;
  color: #ffffff;
  padding: 18px 21px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.custom-dropdown .select-items div:hover, .custom-dropdown .select-items div .same-as-selected {
  background-color: cyan;
}

.custom-dropdown .select-hide {
  display: none;
}
