/* custom dropdown

requires following html structure

    <div class="custom-select">
        <label for="custom-select">label</label>
        <select id="custom-select">
            <option value="1">option 1</option>
            <option value="2">option 2</option>
        </select>
        
        <div class="select-selected">1</div>
        <div class="select-items select-hide">
            <div>1</div>
            <div>2</div>
        </div>
    </div>
    

*/

.custom-select {

    select {
        display: none;
    }    

    .select-selected {
        background-color: transparent;
        color: #000;


        &:after {
     
          position: absolute;
          content: "";
          top: 6px ;
          right: -12px ;
          display:block;
          border:none ;
          width: 20px ;
          height: 20px ;
          background-size: 80%;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("...");

        }

        &.select-arrow-active {
            &:after {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        .select-items {
            position: absolute;
            background-color: #fff;
            top: calc(100% + 8px) ;
            min-width: 240px;
            left: 0;
            right: 0;
            z-index: 99;
            div {
                padding: 20px 40px 20px 20px;
                border-bottom: 1px solid lightgrey;
                &:hover {
                  background-color: lightgrey;
                }
            }
        }

        .select-hide {
            display: none;
        }

    }


}